<!-- Start Brand Section -->

<section class="brand-section">
    <div class="brand-carousel owl-carousel">
        <div class="brand-item">
            <img src="assets/images/brand-1.png" alt="images">
        </div>
        <div class="brand-item">
            <img src="assets/images/brand-2.png" alt="images">
        </div>
        <div class="brand-item">
            <img src="assets/images/brand-3.png" alt="images">
        </div>
        <div class="brand-item">
            <img src="assets/images/brand-4.png" alt="images">
        </div>
        <div class="brand-item">
            <img src="assets/images/brand-5.png" alt="images">
        </div>
        <div class="brand-item">
            <img src="assets/images/brand-6.png" alt="images">
        </div>
        <div class="brand-item">
            <img src="assets/images/brand-1.png" alt="images">
        </div>
        <div class="brand-item">
            <img src="assets/images/brand-2.png" alt="images">
        </div>
        <div class="brand-item">
            <img src="assets/images/brand-3.png" alt="images">
        </div>
        <div class="brand-item">
            <img src="assets/images/brand-4.png" alt="images">
        </div>
        <div class="brand-item">
            <img src="assets/images/brand-5.png" alt="images">
        </div>
        <div class="brand-item">
            <img src="assets/images/brand-6.png" alt="images">
        </div>
    </div>
</section>

<!-- End Brand Section -->
