<!-------------Gallery SEction ------------------>
	<!-- Start Gallery Section -->

	<section class="gallery-section" style="margin-top: -15em;">
		<div class="container">
			<div class="row">
				<div class="col-lg-7">
					<div class="gallery-img">
						<a class="venobox" href="assets/images/gallery-1.jpg">
							<span class="image">
								<img src="assets/images/gallery-1.jpg" alt="image">
							</span>
						</a>
					</div>
				</div>
				<div class="col-lg-5">
					<div class="gallery-img">
						<a class="venobox" href="assets/images/gallery-2.jpg">
							<span class="image">
								<img src="assets/images/gallery-2.jpg" alt="image">
							</span>
						</a>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-5">
					<div class="gallery-img">
						<a class="venobox" href="assets/images/gallery-3.jpg">
							<span class="image">
								<img src="assets/images/gallery-3.jpg" alt="image">
							</span>
						</a>
					</div>
				</div>
				<div class="col-lg-7">
					<div class="gallery-img">
						<a class="venobox" href="assets/images/gallery-4.jpg">
							<span class="image">
								<img src="assets/images/gallery-4.jpg" alt="image">
							</span>
						</a>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-7">
					<div class="gallery-img">
						<a class="venobox" href="assets/images/gallery-5.jpg">
							<span class="image">
								<img src="assets/images/gallery-5.jpg" alt="image">
							</span>
						</a>
					</div>
				</div>
				<div class="col-lg-5">
					<div class="gallery-img last-child">
						<a class="venobox" href="assets/images/gallery-6.jpg">
							<span class="image">
								<img src="assets/images/gallery-6.jpg" alt="image">
							</span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- End Gallery Section -->
