/*==============
 Gallery Section
================*/

.gallery-section{
	padding: 120px 0px;
}
.gallery-section .row{
	margin-bottom: 24px;
}
.gallery-section .row:last-child{
	margin-bottom: 0px;
}
.gallery-section .gallery-img a .image{
	width: 100%;
	height: 416px;
	position: relative;
	display: block;
	border-radius: 20px;
}
.gallery-section .gallery-img img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	background-repeat: no-repeat;
	border-radius: inherit;
}
.gallery-section .gallery-img a .image::after{
	content: "";
	position: absolute;
	background-color: rgba(0, 59, 90, 0.6);
	width: 100%;
	height: 100%;
	border-radius: inherit;
  opacity: 0;
  z-index: 1;
  top: 0;
  left: 0;
  transition: 0.5s;
}
.gallery-section .gallery-img:hover .image::after{
	opacity: 1;
}
.gallery-section .gallery-img a .image::before{
	content: "";
	position: absolute;
	border: 1px solid var(--main-color);
	inset: 20px;
	border-radius: inherit;
  opacity: 0;
  z-index: 2;
  transition: 0.5s;
}
.gallery-section .gallery-img:hover .image::before{
	opacity: 1;
}

/* Responsive */

@media (max-width: 991px) {
	.gallery-section .row{
		margin-bottom: 0px;
	}
	.gallery-section .gallery-img{
		margin-bottom: 24px;
	}
	.gallery-section .gallery-img.last-child{
		margin-bottom: 0px;
	}
	.gallery-section .gallery-img a .image{
		height: auto;
	}
}
@media (max-width: 767px) {
	.gallery-section{
		padding: 80px 0px;
	}
}
