<!-- Start About  Section -->
<body>
    <section class="about-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-xl-6">
                    <div class="about-left">
                        <div class="image">
                            <img src="assets/images/about-img-1.png" alt="about01">
                        </div>
                        
                        <div class="text-box">
                            <div class="count">
                                <h3>20+</h3>
                                <p>Years</p>
                            </div>
                            <div class="text">
                                <p>Experience</p>
                            </div>
                        </div>
    
                        <div class="image-box">
                            <img src="assets/images/about-img-2.png" alt="about02">
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 col-xl-6">
                    <div class="about-right">
                        <div class="section-title">
                            <h4 class="subtitle"><span>About Us</span></h4>
                            <h1 class="title">Elevate Your Ultimate Fitness Journey</h1>
                        </div>
                        <p class="discription">Achieve your health goals with expert trainers, state-of-the-art equipment, and a supportive community designed to empower your fitness journey.</p>
                        <div class="list-box">
                            <div class="list">
                                <ul>
                                    <li><i class="fa-solid fa-bolt"></i><span>Personalized Workout Programs</span></li>
                                    <li><i class="fa-solid fa-bolt"></i><span>Complete Support Throughout</span></li>
                                    <li><i class="fa-solid fa-bolt"></i><span>Proven Results You Can Trust</span></li>
                                </ul>
                            </div>
                            <div class="video">
                                <a data-autoplay="true" data-vbtype="video" href="https://youtu.be/Et_3r2uugrY?si=q52f_-j68bErgxzO" class="venobox icon"><i class="fa fa-play"></i><span class="cricle-1"></span><span class="cricle-2"></span><span class="cricle-3"></span></a>
                            </div>
                        </div>
                        <div class="button">
                            <a href="#" class="btn">Get Started Today<i class="fa-solid fa-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    </body>
    
    <!-- End About  Section -->
