<!-- Start Footer Section -->

<footer class="footer-section">
    <div class="container">
        <div class="footer-content">
            <div class="discription">
                <img src="assets/images/site-logo.png" alt="footer">
                <p>Achieve your health goals with expert trainers, state-of-the-art equipment, and a supportive community</p>
                <ul>
                    <li class="title">Follow Us:</li>
                    <li>
                        <a href="#"><ng-icon name="bootstrapFacebook" size="26px" />
                        </a>
                     </li>
                    <li>
                        <a href="#"><ng-icon name="bootstrapTwitter" size="26px" />
                        </a>
                    </li>
                    <li>
                        <a href="#"><ng-icon name="bootstrapInstagram" size="26px" />
                        </a>
                    </li>
                    <li>
                        <a href="#"><ng-icon name="bootstrapLinkedin" size="26px" />
                        </a>
                    </li>
                </ul>
            </div>
            <div class="contact">
                <h3>Contact</h3>
                <ul>
                    
                    <li><a href="mailto:fitcoredemo@example.com">
                        <ng-icon name="bootstrapCollectionFill" size="20px" />&nbsp;&nbsp;fitcoredemo&#64;example.com</a></li>
                    <li>
                        <a href="tel:56712345678901"><ng-icon name="bootstrapTelephoneInboundFill" size="20px" />&nbsp;&nbsp;+ (567) 1234-567-8901</a></li>
                    <li><ng-icon name="bootstrapPinMapFill" size="20px" />&nbsp;&nbsp;293 Harrison St, San Francisco, CA 94103, United States</li>
                </ul>
            </div>
            <div class="letter">
                <h3>Newsletter</h3>
                <p>Subscribe today and unlock 20% off your first class package.</p>
                <form action="#" method="post">
                    <div class="mail">
                        <input type="email" placeholder="Enter your Email">
                        <button type="submit" ><ng-icon style="color: brown; background-color: azure" class="rounded-5" name="bootstrapSendFill" size="26px" />
                        
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <p class="end-text">All Right Reserved © FitCore 2025</p>
    </div>
</footer>

<!-- End Footer Section -->
