<!-- Start Marquee Section -->

<section class="marquee-section">
    <div class="marquee-box">
      <div class="marquee-item">
        <span class="text">Yoga Flow</span>  
        <span class="dots"></span>
        <span class="text">Spin & Sweat</span>
        <span class="dots"></span>
        <span class="text">Pilates Core</span>
        <span class="dots"></span>
        <span class="text">CrossFit</span>
        <span class="dots"></span>
        <span class="text">Core Crusher</span>
        <span class="dots"></span>
        <span class="text">Pilates Reformer</span>
        <span class="dots"></span>
        <span class="text">Zumba Energy</span>
        <span class="dots"></span>
      </div>
      <div class="marquee-item">
        <span class="text">Yoga Flow</span>  
        <span class="dots"></span>
        <span class="text">Spin & Sweat</span>
        <span class="dots"></span>
        <span class="text">Pilates Core</span>
        <span class="dots"></span>
        <span class="text">CrossFit</span>
        <span class="dots"></span>
        <span class="text">Core Crusher</span>
        <span class="dots"></span>
        <span class="text">Pilates Reformer</span>
        <span class="dots"></span>
        <span class="text">Zumba Energy</span>
        <span class="dots"></span>
      </div>
    </div>
  </section>
  
  <!-- End Marquee Section -->
