<div class="container mt-4" style="background-color: rgb(162, 165, 164); height: 100em; padding: 2em; min-width: 80em;">
    
    <!-- Start Breadcrumb -->

	<div class="breadcrumb-area">
		<div class="container">
			<div class="contact-box" style="display: flex; flex-direction: row; flex-wrap: wrap; align-content: center;">
               <div>
                  <span>
                     <h4><a href="#">HomeAdmin</a></h4>
                  </span>
              </div>
              <div style="margin-top: 0.2em;">
				        <span>
                    <ng-icon name="bootstrapChevronRight" size="25px" />
                </span>
             </div>
             <div> 
				<span> 
                    <h4><a href="#">Edit Class</a></h4>
                </span>
            </div>    
			</div>
		</div>
	</div>

	<!-- End Breadcrumb -->
    
    <div class="window rounded-3">
        
        <div class="row windowsSSheight">
            <!-- Columna para la imagen -->
            <div class="col-md-5 d-flex justify-content-center align-items-center" style="margin: 2em;">

                <img class="img-fluid rounded-3" src="../../../../assets/images/about-img-1.png" alt="Gym_logo" >
            </div>
            <div class="col-md-5 rounded-3" style="margin-left: 2em;">
               <div class="logo text-center">
                <div class="row nav_logo_texts">
                    <div class="col-12">
                        <span class="nav_logo-name" style="position: relative; top: 15px; color: #2b69dd;">Gym Control</span> 
                        
                    </div>
                    <div class="col-12">

                        <img src="../../../../assets/logo/logo2.jpg" width="50em" alt="Gym-logo">&nbsp;&nbsp;
                        <span class="nav_logo-name"  style="color: #2b69dd;">Sergio Fitness</span>
                        <span class="nav_logo-name"  style="color: #0b0a4b; font-size: 1rem; position: relative; top: -5px; left: 5px;">App</span>
                    </div>

                </div>
               </div>
                <div class="formPack">
                   <div style="display: flex; flex-direction: row; justify-content: center;"> 
                    <div>
                      <h2 class="text-center nav_logo-name" style="padding-top: -1em; color: #2b69dd;">Edit Class</h2>
                    </div>
                </div>
                    <br/>
                    <form [formGroup]="editClassForm" (ngSubmit)="EditClass()" autocomplete="off">
    
  
  <!---- group classname, begin dat, day section ---------------------->                      
     <div style="display: flex; flex-direction: row; flex-wrap: wrap;justify-content:space-between;"> 

        
  <!---- classname section ---------------------->
        <div class="mb-3 col-md-4">
          <label for="classname" class="form-label">
            <ng-icon name="bootstrapReceipt" size="32px"/> &nbsp; 
                Name:
          </label>
            <input type="text" name="classname" class="form-control input" id="classname"
              formControlName="classname" autocomplete="off" placeholder="Class Name">
                @if(editClassForm.get('classname')?.hasError('required')&&editClassForm.get('classname')?.touched){
                <div class="form-error">
                 <span class="text-danger">Class Name is required*</span>
                </div>
                }
         </div>

 <!---- dateBegin section ---------------------->                 
 <div class="mb-3 col-md-4">
    <label for="dateBegin" class="form-label">
      <ng-icon name="bootstrapCalendar2DayFill" size="32px"/> &nbsp; 
          BeginDat:
    </label>
      <input type="date" name="dateBegin" class="form-control input" id="dateBegin" formControlName="dateBegin" autocomplete="off" placeholder="Date Begin">
          @if(editClassForm.get('dateBegin')?.hasError('required') && editClassForm.get('dateBegin')?.touched){
          <div class="form-error">
           <span class="text-danger">Date Begin required*</span>
          </div>
          }
   </div>


 <!---- Pack classday section ---------------------->                       
 <div class="mb-3 col-md-3">
    <label for="classday" class="form-label">
      <ng-icon name="bootstrapCalendar2DayFill" size="32px"/> &nbsp; 
      Day:
    </label>
      
         <select name="classday" id="classday" class="form-control input" formControlName="classday" placeholder="Choose a day" >

            <option value="Monday">Monday</option>
            <option value="Tuesday">Tuesday</option>
            <option value="Wednesday">Wednesday</option>
            <option value="Thursday">Thursday</option>
            <option value="Friday">Friday</option>
            <option value="Saturday">Saturday</option>
            <option value="Sunday">Sunday</option>

          </select>   
          @if(editClassForm.get('classday')?.hasError('required') && editClassForm.get('classday')?.touched){
          <div class="form-error">
           <span class="text-danger">Class day is required*</span>
          </div>
          }
   </div>

 
</div> <!--- End of section for classname, date -->

<!---  section for hours , price, code  ---------->
<div style="display: flex; flex-direction: row; flex-wrap: wrap;justify-content:space-between;"> 
<!---- Class duration hours section ------------------>                       
<div class="mb-3 col-md-5">
    <label for="classtime" class="form-label">
      <ng-icon name="bootstrapCalendar2DayFill" size="32px"/> &nbsp; 
      hours/day,am-pm:
    </label>
      <input type="text" name="classtime" class="form-control input" id="classtime" formControlName="classtime" autocomplete="off" placeholder="from 10:00 am - 11:00 am "> 
       
          @if(editClassForm.get('classtime')?.hasError('required') && editClassForm.get('classtime')?.touched){
          <div class="form-error">
            <span class="text-danger">Class time is required*</span>
          </div>
          }
   </div>  

<!---- class price section ---------------------->                       
<div class="mb-3 col-md-3">
    <label for="price" class="form-label">
      <ng-icon name="bootstrapCoin" size="32px"/> &nbsp; 
      Price:
    </label>
      <input type="number" name="price" class="form-control input" id="price"
        formControlName="price" autocomplete="off" placeholder="Price"
         min="30" max="250">
          @if(editClassForm.get('price')?.hasError('required') && editClassForm.get('price')?.touched){
          <div class="form-error">
           <span class="text-danger">Price is required*</span>
          </div>
          }
   </div>

<!---- Class code section ------------------>                       
<div class="mb-3 col-md-3">
  <label for="code" class="form-label">
    <ng-icon name="bootstrapReceipt" size="32px"/> &nbsp; 
    Code:
  </label>
    <input type="text" name="code" class="form-control input" id="code" formControlName="code" autocomplete="off" placeholder="Code"> 
     
        @if(editClassForm.get('code')?.hasError('required') && editClassForm.get('code')?.touched){
        <div class="form-error">
          <span class="text-danger">Code is required*</span>
        </div>
        }
 </div>  

  
</div> <!--- End of section for time, cost  -->

<!---- Pack trainer section ---------------->   
<div style="display: flex; flex-direction: row; flex-wrap: wrap;">                  
<div class="mb-3 col-md-4">
    <label for="trainer" class="form-label">
      <ng-icon name="bootstrapCalendar2DayFill" size="32px"/>
      Trainer:
    </label>
      <input type="text" name="trainer" class="form-control input"
        id="trainer" formControlName="trainer" autocomplete="off" placeholder="Trainer">
            @if(editClassForm.get('trainer')?.hasError('required') && editClassForm.get('trainer')?.touched){
            <div class="form-error">
              <span class="text-danger">Trainer is required*

              </span>
            </div>
        }
   </div>

<!---- Pack classlevel section ---------------------->                       
<div class="mb-3 col-md-4" style="margin-left: 1em;">
    <label for="classlevel" class="form-label">
      <ng-icon name="bootstrapCalendar2DayFill" size="32px"/> &nbsp; 
      Level:
    </label>
        <select name="classlevel" id="classlevel" class="form-control input" formControlName="classlevel" placeholder="Level">

            <option value="low">Low</option>
            <option value="medium">Medium</option>
            <option value="high">High</option>   
          </select> 

            @if(editClassForm.get('classlevel')?.hasError('required') && editClassForm.get('classlevel')?.touched){
            <div class="form-error">
              <span class="text-danger">Class level is required*

              </span>
            </div>
        }
   </div>

<!---- classtime section ----------------------->                       
<div class="mb-3 col-md-3" style="margin-left: 1em;">
    <label for="session_time" class="form-label">
      <ng-icon name="bootstrapCalendar2DayFill" size="32px"/> &nbsp; 
      # Days:
    </label>
      <input type="number" name="session_time" class="form-control input"  
        id="session_time" formControlName="session_time" autocomplete="off" placeholder="Days" min="15" max="180">
            @if(editClassForm.get('session_time')?.hasError('required') && editClassForm.get('session_time')?.touched){
            <div class="form-error">
              <span class="text-danger">Class Days are required*

              </span>
            </div>
        }
   </div>

</div>  <!-- End of this line in view form -->
<!---- Class key_benefits section ---------------->                       
<div class="mb-3">
    <label for="key_benefits" class="form-label">
      <ng-icon name="bootstrapReceipt" size="32px"/> &nbsp; 
      key benefits:
    </label>
      <input type="text" name="key_benefits" class="form-control input"  
        id="key_benefits" formControlName="key_benefits" autocomplete="off" placeholder="key benefits">
            @if(editClassForm.get('key_benefits')?.hasError('required')&&editClassForm.get('key_benefits')?.touched){
            <div class="form-error">
              <span class="text-danger">key benefits are required*

              </span>
            </div>
        }
   </div>

<!---- Class expert_trainer section ---------------->                       
<div class="mb-3">
    <label for="expert_trainer" class="form-label">
      <ng-icon name="bootstrapReceipt" size="32px"/> &nbsp; 
      Expert Trainer:
    </label>
      <input type="text" name="expert_trainer" class="form-control input"  
        id="expert_trainer" formControlName="expert_trainer" autocomplete="off" placeholder="Expert Trainer">
            @if(editClassForm.get('expert_trainer')?.hasError('required')&&editClassForm.get('expert_trainer')?.touched){
            <div class="form-error">
              <span class="text-danger">Expert Trainer are required*
              </span>
            </div>
        }
   </div>

   <!---- Class class_overview section -------------->                       
<div class="mb-3">
    <label for="class_overview" class="form-label">
      <ng-icon name="bootstrapReceipt" size="32px"/> &nbsp; 
      Class Overview:
    </label>
      <input type="text" name="class_overview" class="form-control input"  
        id="class_overview" formControlName="class_overview" autocomplete="off" placeholder="Class Overview">
            @if(editClassForm.get('class_overview')?.hasError('required')&&editClassForm.get('class_overview')?.touched){
            <div class="form-error">
              <span class="text-danger">Class Overview are required*
              </span>
            </div>
        }
   </div>

<!---- Class why_matters section -------------->                       
<div class="mb-3">
    <label for="why_matters" class="form-label">
      <ng-icon name="bootstrapReceipt" size="32px"/> &nbsp; 
      Why Matters:
    </label>
      <input type="text" name="why_matters" class="form-control input"  
        id="why_matters" formControlName="why_matters" autocomplete="off" placeholder="Why Matters">
            @if(editClassForm.get('why_matters')?.hasError('required')&&editClassForm.get('why_matters')?.touched){
            <div class="form-error">
              <span class="text-danger">Why Matters are required*
              </span>
            </div>
        }
   </div>


        <!------ Pack Image Section ------------------------->
        
        <div class="mb-3">

            <label for="image" class="control-label" style="color: aliceblue; font-weight: bold;">Add Pack Picture:

            </label>
        
               <input id="image" type="file"  class="form-control " name="myfile" accept="image/*"  formControlName="image" (change)="changeImg($event)" multiple required="required" />
               
               
            <div class="file-custom"  >
                <!-- ensures that the image is only displayed when a file has been selected and the preview is ready.-->
                @if (imagePreviewUrl) {
                <img [src]="imagePreviewUrl" alt="Preview" style="margin: 1em; height: 10em; width: 8em;">}
            </div>

        </div>                        
        <!------ End Of Pack Image Section ------------------>
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary w-100 mt-3 btnClass" id="btnpack" [disabled]="editClassForm.invalid">Edit Pack</button>
                        </div>
                        <br/>
                        <br/>
                        <br/>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
